.App {
  text-align: center;
 
}
.apptitle{
  background-color: brown;
  font-size: 30px;
  margin-top: 0;
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-around;
  
}
.movie-container{
  width: 280px;

}
.movie-poster{
  margin-top:0px;
  height:340px;
  width:280px;
  object-fit: cover;
  margin-bottom: 10px;
  overflow: hidden;
}
.movie-name{
   font-family: 'Roboto', sans-serif;
   font-size: 24px;
}
.movie-name,.movie-rating{
margin:0;
}

.movie-spec{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  padding-left: 5px;
}
.movie-rating{
  font-size: 18px;
}
.movie-summary{
  text-align: left;
  margin:10px 5px;
}
.counter-container{
  display: flex;
  gap: 10px;
}
.like-dislike{
  font-size: 18px;
}
.addmoviedata{
  display: flex;
  flex-direction:column ;
 
  gap: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding:15px;
  width:300px;
  margin-left: 480px;
  margin-right: 480px;
  align-content: center;
}
